<!doctype html>
<html>
  <head>
    <title>Ovrlord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/ovrlord.js" charset="utf-8"></script>
  </head>
  <body ng-app='myApp'>
    <div class='container' ng-controller='OvrlordController' ng-init='getIssues();'>
      <img src='images/ovrlord_icon_128.png' ng-click='toggleMode();'/><img src=images/ovrlord_text.png  ng-click='toggleMode();'/>
      <div class='container' ng-show='createMode'>
        <h1>Create Issue</h1>
        <form action="../server/newIssue.php" method="post">
          <table border=0>
            <tr>
                <td align=right>From:</td>
                <td align=left><textarea name="user" rows="1" cols="32"></textarea></td>
            </tr>
              <td align=left>Issue:</td>
              <td>
                <textarea name="issue" rows="4" cols="50"></textarea><br>
                <input type="submit">
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class='container' ng-hide='createMode'>
        <h2>Issues
          <select ng-model='filterIn' ng-change='applyFilter()'>
            <option value=0 selected>Open</option>
            <option value=1>Queued</option>
            <option value=2>WIP</option>
            <option value=3>Closed</option>
            <option value=4>Ignored</option>
          </select>
        </h2>
        <div class="row">
          <div class="col-sm-4" ng-repeat='issue in issues | filter: issue.status : issueFilter'>
            <p><strong>Issue {{ issue.id }}</strong> ({{ issue.from }})</p>
            <p>
              {{ issue.issue }}
            </p>
            <div class='container'>
              <p>
                Change status: <statuser ng-if='issue.status != 0' ng-click='setStatus( $index, 0 )'>Open</statuser> <statuser ng-if='issue.status != 1' ng-click='setStatus( $index, 1 )'>Queue</statuser> <statuser ng-if='issue.status != 2' ng-click='setStatus( $index, 2 )'>WIP</statuser> <statuser ng-if='issue.status != 3' ng-click='setStatus( $index, 3 )'>Close</statuser> <statuser ng-if='issue.status != 4' ng-click='setStatus( $index, 4 )'>Ignore</statuser> <statuser ng-if='issue.log == 1' ng-click='addToLog( $index )'>Log</statuser> <statuser ng-if='issue.log == 0' ng-click='removeFromLog( $index )'>Log</statuser>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
