<!doctype html>
<html>
  <head>
    <title>Ovrlord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/ovrlord.js" charset="utf-8"></script>
  </head>
  <body ng-app='myApp'>
    <div class='container' ng-controller='OvrlordController' ng-init='getIssues();'>
      <img src='images/ovrlord_icon_128.png' ng-click='toggleMode();'/><img src=images/ovrlord_text.png  ng-click='toggleMode();'/>
      <p>Issues: {{ issueCount }} Open: {{ openIssueCount }} Completion: {{ ( ( issueCount - openIssueCount ) / issueCount ) * 100 | number: 2 }}%</p>
      <div class='container' ng-show='createMode'>
        <h1>Create Issue</h1>
        <form>
              <p>
                Owner:
                <input type="text" ng-model="userIn">
              </p>
              <p>Issue:
                <textarea ng-model="issueIn" rows="4" cols="50"></textarea><br>
              </p>
          <button ng-click='addNewTicket();'>Add Ticket</button>
        </form>
      </div>
      <div class='container' ng-hide='createMode'>
        <h2>Issues
          <select ng-model='filterIn' ng-change='applyFilter()'>
            <option value=0 selected>Open</option>
            <option value=1>Queued</option>
            <option value=2>WIP</option>
            <option value=3>Closed</option>
            <option value=4>Ignored</option>
            <option value=-1>Log</option>
          </select>
        </h2>
        <div ng-hide='logMode' class="row">
          <div style="padding:3px;outline:solid black;margin:5px;" class="col-sm-3" ng-repeat='issue in issues | filter: issue.status : issueFilter'>
            <p><strong>Issue {{ issue.id }}</strong> ( owner: {{ issue.from }} )</p>
            <p>
              {{ issue.issue }}
            </p>
            <div class='container'>
              <p>
                <button ng-if='issue.status != 0' ng-click='setStatus( $index, 0 )'>Open</button><button ng-if='issue.status != 1' ng-click='setStatus( $index, 1 )'>Queue</button><button ng-if='issue.status != 2' ng-click='setStatus( $index, 2 )'>WIP</button><button ng-if='issue.status != 3' ng-click='setStatus( $index, 3 )'>Close</button><button ng-if='issue.status != 4' ng-click='setStatus( $index, 4 )'>Ignore</button><button ng-if='issue.log == 1' ng-click='addToLog( $index )'>Log</button><button ng-if='issue.log == 0' ng-click='removeFromLog( $index )'>Log</button>
              </p>
            </div>
          </div>
        </div>
        <div ng-show='logMode'>
          <text ng-repeat='logIssue in logIssues | filter: logIssue.log : 1'>
            * Issue: {{ logIssue.id }}: {{ logIssue.issue }}
          <br /></text>
        </div>
      </div>
    </div>
  </body>
</html>
